<div class="container">
    <p></p>
    
<b>Article R4541-9</b>
Créé par Décret n°2008-244 du 7 mars 2008 - art. (V) 
<p></p>
Lorsque le recours à la manutention manuelle est inévitable et que les aides mécaniques prévues au 2° de l'article R. 4541-5 ne peuvent pas être mises en œuvre, un travailleur ne peut être admis à porter d'une façon habituelle des charges supérieures à 55 kilogrammes qu'à condition d'y avoir été reconnu apte par le médecin du travail, sans que ces charges puissent être supérieures à 105 kilogrammes. 
Toutefois, les femmes ne sont pas autorisées à porter des charges supérieures à 25 kilogrammes ou à transporter des charges à l'aide d'une brouette supérieures à 40 kilogrammes, brouette comprise.
<p></p>
<b>Article D4161-2</b>
Modifié par Décret n°2016-1553 du 18 novembre 2016 - art. 7 
Abrogé par Décret n°2017-1769 du 27 décembre 2017 - art. 1 
Les facteurs de risques professionnels et les seuils d'exposition mentionnés à l'article L. 4161-1 sont ainsi fixés : 
<p></p>
1° Au titre des contraintes physiques marquées : 
<p></p>
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-cly1{text-align:left;vertical-align:middle}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-cly1" rowspan="2">FACTEUR DE RISQUES PROFESSIONNELS </th>
        <th class="tg-nrix" colspan="3">SEUIL </th>
      </tr>
      <tr>
        <td class="tg-nrix">Action ou situation </td>
        <td class="tg-nrix">Intensité minimale </td>
        <td class="tg-nrix">Durée minimale </td>
      </tr>
      <tr>
        <td class="tg-cly1" rowspan="4">a) Manutentions manuelles de charges définies à l'article R. 4541-2 </td>
        <td class="tg-cly1">Lever ou porter </td>
        <td class="tg-cly1">Charge unitaire de 15 kilogrammes </td>
        <td class="tg-cly1" rowspan="3">600 heures par an</td>
      </tr>
      <tr>
        <td class="tg-cly1">Pousser ou tirer</td>
        <td class="tg-cly1">Charge unitaire de 250 kilogrammes</td>
      </tr>
      <tr>
        <td class="tg-cly1">Déplacement du travailleur avec la charge ou prise de la charge au sol ou à une hauteur située au-dessus des épaules</td>
        <td class="tg-cly1">Charge unitaire de 10 kilogrammes</td>
      </tr>
      <tr>
        <td class="tg-cly1"> Cumul de manutentions de charges</td>
        <td class="tg-cly1">7,5 tonnes cumulées par jour</td>
        <td class="tg-cly1"> 120 jours par an</td>
      </tr>
      <tr>
        <td class="tg-cly1">b) Postures pénibles définies comme positions forcées des articulations </td>
        <td class="tg-cly1" colspan="2">Maintien des bras en l'air à une hauteur située au dessus des épaules ou positions accroupies ou à genoux ou positions du torse en torsion à 30 degrés ou positions du torse fléchi à 45 degrés 
        </td>
        <td class="tg-cly1">900 heures par an</td>
      </tr>
      <tr>
        <td class="tg-cly1" rowspan="2">c) Vibrations mécaniques mentionnées à l'article R. 4441-1 </td>
        <td class="tg-cly1">Vibrations transmises aux mains et aux bras</td>
        <td class="tg-cly1">Valeur d'exposition rapportée à une période de référence de 8 heures de 2,5 m/ s2 
        </td>
        <td class="tg-cly1" rowspan="2">450 heures par an</td>
      </tr>
      <tr>
        <td class="tg-cly1">Vibrations transmises à l'ensemble du corps </td>
        <td class="tg-cly1">Valeur d'exposition rapportée à une période de référence de 8 heures de 0,5 m/ s2 </td>
      </tr>
    </table>
 



 


 






</div>
