<div class="container">
<p></p>
<table border="2">
  <tr>
    <td align="center" width="30%" colspan="2">Gravité - Niveau de gravité de l'accident ou <br />niveau du danger</td>
    <td align="center" bgcolor="yellow">Commentaires</td>
    <td align="center" bgcolor="yellow">Conséquences</td>
  </tr>
  <tr>
    <td align="center">{{listeGravite[0].valeur}}</td>
    <td align="center">Mineure</td>
    <td>Lésions sans AT</td>
    <td>Pas ou peu de dommages</td>
  </tr>
  <tr>
    <td align="center">{{listeGravite[1].valeur}}</td>
    <td align="center">Significative</td>
    <td>Lésions avec AT sans séquelles</td>
    <td>Dommages sans arrêt de travail</td>
  </tr>
  <tr>
    <td align="center">{{listeGravite[2].valeur}}</td>
    <td align="center">Critique</td>
    <td>Lésions avec AT avec séquelles</td>
    <td>Dommages réversibles, entraînant des arrêts de travail</td>
  </tr>
  <tr>
    <td align="center">{{listeGravite[3].valeur}}</td>
    <td align="center">Vitale</td>
    <td>Lésions pouvant entrainer la mort</td>
    <td>Dommages irréversibles (incapacité totale ou partielle voire décès)</td>
  </tr>
</table>
<p></p>
<table border="2">
  <tr>
    <td align="center">Fréquence</td>
    <td align="center" bgcolor="yellow">Exposition</td>
    <td align="center" bgcolor="yellow">Durée</td>
  </tr>
  <tr>
    <td align="center">{{listeFrequence[0].valeur}}</td>
    <td align="center">Occasionnelle</td>
    <td>Quelques heures par an</td>
  </tr>
  <tr>
    <td align="center">{{listeFrequence[1].valeur}}</td>
    <td align="center">Intermittente</td>
    <td>Quelques heures par mois</td>
  </tr>
  <tr>
    <td align="center">{{listeFrequence[2].valeur}}</td>
    <td align="center">Fréquente</td>
    <td>Quelques heures par semaine</td>
  </tr>
  <tr>
    <td align="center">{{listeFrequence[3].valeur}}</td>
    <td align="center">Continue</td>
    <td>Quelques heures par jour</td>
  </tr>
</table>
<p></p>
<table border="2">
  <tr>
    <td align="center" bgcolor="yellow">Continue {{listeFrequence[3].valeur}}</td>
    <td align="center" width="20%">{{listeFrequence[3].valeur*listeGravite[0].valeur}}</td>
    <td align="center" bgcolor="red">{{listeFrequence[3].valeur*listeGravite[1].valeur}}</td>
    <td align="center" bgcolor="red">{{listeFrequence[3].valeur*listeGravite[2].valeur}}</td>
    <td align="center" bgcolor="red">{{listeFrequence[3].valeur*listeGravite[3].valeur}}</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">Fréquente {{listeFrequence[2].valeur}}</td>
    <td align="center" width="20%">{{listeFrequence[2].valeur*listeGravite[0].valeur}}</td>
    <td align="center" bgcolor="orange" width="20%">{{listeFrequence[2].valeur*listeGravite[1].valeur}}</td>
    <td align="center" bgcolor="red" width="20%">{{listeFrequence[2].valeur*listeGravite[2].valeur}}</td>
    <td align="center" bgcolor="red" width="20%">{{listeFrequence[2].valeur*listeGravite[3].valeur}}</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">Intermittente {{listeFrequence[1].valeur}}</td>
    <td align="center" width="20%">{{listeFrequence[1].valeur*listeGravite[0].valeur}}</td>
    <td align="center" bgcolor="orange" width="20%">{{listeFrequence[1].valeur*listeGravite[1].valeur}}</td>
    <td align="center" bgcolor="orange" width="20%">{{listeFrequence[1].valeur*listeGravite[2].valeur}}</td>
    <td align="center" bgcolor="red" width="20%">{{listeFrequence[1].valeur*listeGravite[3].valeur}}</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">Occasionnelle {{listeFrequence[0].valeur}}</td>
    <td align="center" width="20%">{{listeFrequence[0].valeur*listeGravite[0].valeur}}</td>
    <td align="center" width="20%">{{listeFrequence[0].valeur*listeGravite[1].valeur}}</td>
    <td align="center" bgcolor="orange" width="20%">{{listeFrequence[0].valeur*listeGravite[2].valeur}}</td>
    <td align="center" bgcolor="red" width="20%">{{listeFrequence[0].valeur*listeGravite[3].valeur}}</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">F x G</td>
    <td align="center" bgcolor="yellow">Mineure {{listeGravite[0].valeur}}</td>
    <td align="center" bgcolor="yellow">Significative {{listeGravite[1].valeur}}</td>
    <td align="center" bgcolor="yellow">Critique {{listeGravite[2].valeur}}</td>
    <td align="center" bgcolor="yellow">Vitale {{listeGravite[3].valeur}}</td>
  </tr>
</table>
<p></p>
<p>
  L'évaluation des risques est le résultat du produit des coefficients affectés à la fréquence et à la gravité.<br />
  La Gravité (G) X La Fréquence (F) = Criticité (C)<br />
  En fonction de la cotation obtenue de {{listeFrequence[0].valeur*listeGravite[0].valeur}} à {{listeFrequence[3].valeur*listeGravite[3].valeur}}, nous obtenons un ordre de priorité à donner afin de faire face aux
  situations dangereuses et pouvons construire un plan d'actions qui définit les priorités.
</p>
</div>
