<div class="container">
<p></p>
<table border="2">
  <tr>
    <td align="center" width="30%" colspan="2">Gravité - Niveau de gravité de l'accident ou <br />niveau du danger</td>
    <td align="center" bgcolor="yellow">Commentaires</td>
    <td align="center" bgcolor="yellow">Conséquences</td>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">Mineure</td>
    <td>Lésions sans AT</td>
    <td>Pas ou peu de dommages</td>
  </tr>
  <tr>
    <td align="center">3</td>
    <td align="center">Significative</td>
    <td>Lésions avec AT sans séquelles</td>
    <td>Dommages sans arrêt de travail</td>
  </tr>
  <tr>
    <td align="center">5</td>
    <td align="center">Critique</td>
    <td>Lésions avec AT avec séquelles</td>
    <td>Dommages réversibles, entraînant des arrêts de travail</td>
  </tr>
  <tr>
    <td align="center">10</td>
    <td align="center">Vitale</td>
    <td>Lésions pouvant entrainer la mort</td>
    <td>Dommages irréversibles (incapacité totale ou partielle voire décès)</td>
  </tr>
</table>
<p></p>
<table border="2">
  <tr>
    <td align="center">Fréquence</td>
    <td align="center" bgcolor="yellow">Exposition</td>
    <td align="center" bgcolor="yellow">Durée</td>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">Occasionnelle</td>
    <td>Quelques heures par an</td>
  </tr>
  <tr>
    <td align="center">2</td>
    <td align="center">Intermittente</td>
    <td>Quelques heures par mois</td>
  </tr>
  <tr>
    <td align="center">3</td>
    <td align="center">Fréquente</td>
    <td>Quelques heures par semaine</td>
  </tr>
  <tr>
    <td align="center">4</td>
    <td align="center">Continue</td>
    <td>Quelques heures par jour</td>
  </tr>
</table>
<p></p>
<table border="2">
  <tr>
    <td align="center" bgcolor="yellow">Continue 4</td>
    <td align="center" width="20%">4</td>
    <td align="center" bgcolor="red">12</td>
    <td align="center" bgcolor="red">20</td>
    <td align="center" bgcolor="red">60</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">Fréquente 3</td>
    <td align="center" width="20%">3</td>
    <td align="center" bgcolor="orange" width="20%">9</td>
    <td align="center" bgcolor="red" width="20%">15</td>
    <td align="center" bgcolor="red" width="20%">45</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">Intermittente 2</td>
    <td align="center" width="20%">2</td>
    <td align="center" bgcolor="orange" width="20%">6</td>
    <td align="center" bgcolor="orange" width="20%">10</td>
    <td align="center" bgcolor="red" width="20%">30</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">Occasionnelle 1</td>
    <td align="center" width="20%">1</td>
    <td align="center" width="20%">3</td>
    <td align="center" bgcolor="orange" width="20%">5</td>
    <td align="center" bgcolor="red" width="20%">15</td>
  </tr>
  <tr>
    <td align="center" bgcolor="yellow">F x G</td>
    <td align="center" bgcolor="yellow">Mineure 1</td>
    <td align="center" bgcolor="yellow">Significative 3</td>
    <td align="center" bgcolor="yellow">Critique 5</td>
    <td align="center" bgcolor="yellow">Vitale 10</td>
  </tr>
</table>
<p></p>
<p>
  L'évaluation des risques est le résultat du produit des coefficients affectés à la fréquence et à la gravité.<br />
  La Gravité (G) X La Fréquence (F) = Criticité (C)<br />
  En fonction de la cotation obtenue de 1 à 60, nous obtenons un ordre de priorité à donner afin de faire face aux
  situations dangereuses et pouvons construire un plan d'actions qui définit les priorités.
</p>
</div>
