
<div class="container">
    <div class="row">
        <p> </p>
      </div>
Article L4121-2
Modifié par LOI n°2016-1088 du 8 août 2016 - art. 5 
<p> </p>
L'employeur met en oeuvre les mesures prévues à l'article L. 4121-1 sur le fondement des principes généraux de prévention suivants : 
<ul>
<li>Eviter les risques</li>
<li>Evaluer les risques qui ne peuvent pas être évités</li>
<li>Combattre les risques à la source</li>
<li>Adapter le travail à l'homme, en particulier en ce qui concerne la conception des postes de travail ainsi que le choix des équipements de travail et des méthodes de travail et de production, en vue notamment de limiter le travail monotone et le travail cadencé et de réduire les effets de ceux-ci sur la santé</li>
<li>Tenir compte de l'état d'évolution de la technique</li>
<li>Remplacer ce qui est dangereux par ce qui n'est pas dangereux ou par ce qui est moins dangereux</li> 
<li>Planifier la prévention en y intégrant, dans un ensemble cohérent, la technique, l'organisation du travail, les conditions de travail, les relations sociales et l'influence des facteurs ambiants, notamment les risques liés au harcèlement moral et au harcèlement sexuel, tels qu'ils sont définis aux articles L. 1152-1 et L. 1153-1, ainsi que ceux liés aux agissements sexistes définis à l'article L. 1142-2-1</li>
<li>Prendre des mesures de protection collective en leur donnant la priorité sur les mesures de protection individuelle</li>
<li>Donner les instructions appropriées aux travailleurs</li>
</ul>
</div>