<div class = "container">
<div class ="row">
  <p></p>
</div> 
<div class ="row">
  <b>EvRP</b> </div>
Evaluation des Risques Professionnels qui 
consiste à identifier les risques auxquels sont soumis les salariés d'un établissement, 
en vue de mettre en place des actions de prévention pertinentes couvrant les dimensions 
techniques, humaines et organisationnelles. 
Elle constitue l'étape initiale de toute démarche de prévention en santé et sécurité au travail
L'EvRP est une démarche structurée dont les résultats sont formalisés dans un "document unique".
<div class ="row">
<b>DUER</b> </div>
Document Unique d'Evaluation des Risques Professionels
<div class ="row">
  <b>Unité de travail</b> </div>

La circulaire n°6 DRT du 18 avril 2002 précise la notion d’unité de travail. L’unité de travail, ce n’est pas nécessairement un poste de travail, une fonction, une activité, un processus mais bien une situation de travail dans laquelle un ou des salariés, avec une ou des fonctions différentes et en 
charge d’activités différentes, est (sont) exposé(s) à un même danger.
<div class ="row">
  
<b>Danger </b> </div>
Propriété intrinsèque d’un produit, d’un équipement, d’une situation susceptible de causer un dommage à l’intégrité mentale ou physique du salarié.
<div class ="row">
  <b>Risque</b> </div> « Notion abstraite, inobservable directement, une catégorie de statut intermédiaire entre celle des dangers et celle des dommages ».
C’est un évènement à venir, donc incertain. Cette incertitude est fondamentalement irréductible mais elle est plus ou moins grande selon la qualité des informations disponibles.
La définition suivante semble faire l’unanimité : le risque est l’éventualité d’une rencontre entre l’homme et un danger auquel il est exposé.
<div class ="row">
  <b>Dommage</b> </div>
  Evènement non souhaité.
  



<div class ="row">
  <b>Fréquence</b> </div>
  Fréquence (probabilité) quantifiée d'exposition à un danger 

  <div class ="row">
    <b>Gravité</b> </div>
    Gravité  quantifiée des conséquence d'exposition à un danger
  
    <div class ="row">
      <b>Criticité</b> </div>
      La criticité est définie comme le produit de la probabilité d'occurrence (fréquence) d'un accident par 
      la gravité de ses conséquences : <br/> criticité = probabilité × gravité
    

</div>